#去广告脚本（包括首页，本地）
^https://g-acs.m.goofish.com/gw/mtop.taobao.idle(home)?.(local.home|local.home.feeds|home.nextfresh|home.tabdetail)/ url script-response-body  https://raw.githubusercontent.com/chanshgit/script/main/fleamarket/fm.idle.js
^https://acs.m.taobao.com/gw/mtop.taobao.idle(home)?.(local.home|local.home.feeds|home.nextfresh|home.tabdetail)/ url script-response-body  https://raw.githubusercontent.com/chanshgit/script/main/fleamarket/fm.idle.js
#搜索去广告
##老版本
#^https://acs.m.taobao.com/gw/mtop.taobao.idle.search.glue/ url script-response-body https://raw.githubusercontent.com/chanshgit/script/main/fleamarket/fm.search.js
##搜索8.0
^https://g-acs.m.goofish.com/gw/mtop.taobao.idle(home)?.(local.home|local.home.feeds|home.nextfresh|home.tabdetail)/ url script-response-body  https://raw.githubusercontent.com/chanshgit/script/main/fleamarket/fm.idle.js
^https://g-acs.m.goofish.com/gw/mtop.taobao.idlemtopsearch.search/1.0\? url script-response-body https://raw.githubusercontent.com/chanshgit/script/main/fleamarket/fm.search.js
^https://g-acs.m.goofish.com/gw/mtop.taobao.idle.search.glue/8.0\? url script-response-body https://raw.githubusercontent.com/chanshgit/script/main/fleamarket/fm.search.js

# 屏蔽功能
## "搜索框"建议
^https://acs.m.taobao.com/gw/mtop.taobao.idlemtopsearch.search.shade url response-body \{.+\} response-body {"api":"mtop.taobao.idlemtopsearch.search.shade","data":[],"ret":["SUCCESS::调用成功"],"v":"3.0"}
^https://acs.m.taobao.com/gw/mtop.taobao.idlemtopsearch.item.search.activate url response-body "data":.+"v": response-body "data":null,"v":
# '首页'智能推荐
#^https://acs.m.taobao.com/gw/mtop.taobao.wireless.home.xianyu.awesome.get url response-body "sections":\[.+"starkTracks": response-body "sections":[],"starkTracks":
#"本地"标签页面
#^https://acs.m.taobao.com/gw/mtop.taobao.idle.local.flow.plat.section url response-body "item":\{.+?ext": response-body "item":\{\}\},"ext":
#"直播"入口
^https://acs.m.taobao.com/gw/mtop.taobao.idle.homehint.list url reject
#dns请求
^http://amdc.m.taobao.com/amdc/mobileDispatch url reject
#^http://amdc.m.taobao.com/amdc/mobileDispatch url script-response-body https://raw.githubusercontent.com/chanshgit/script/main/fleamarket/fm.dns.js
hostname=g-acs.m.goofish.com,acs.m.taobao.com
